.menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.main-content__title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

.main-content__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.main-content__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
